body{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}


/*---------------Header CSS Start------------------*/
.header{
   display: flex;
   align-items: center;
   box-shadow: 1px 1px 5px grey;
}

.logo{
    width: 50%;
    margin-left: 10%;
}
.menu{
    width: 50%;
}
.header-menu{
    width: 100%;
}
.menu ul{
    list-style-type: none;
    display: flex;
}
.menu li a{
    text-decoration: none;
    color: #FE4B2E;
    font-family: 'Patua One', cursive;
    padding: 10px 20px;
    margin: 0px 5px;
    border-radius: 10px;
}
li a:hover{
    background-color: #FE4B2E;
    color: white;
}
.logo h1:hover{
    color: #FE4B2E;
}

/*---------------Header CSS END------------------*/


/*---------------Top Banner CSS END------------------*/

.top-banner{
    display: flex;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 100px;
}
.top, .about{
    width: 50%;
}
.top-banner-left h1{
    margin: 0;
    padding: 0;
}
.top-banner-left-container{
    margin-top: 20%;
}
.pizza-image{
    width: 80%;
    margin-top: 5%;
    margin-left: 20%;
}
/*---------------Top Banner CSS END------------------*/

/*---------------Universal CSS Start------------------*/
.know-about-pizza-btn, .contact-me-btn{
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    background-image: linear-gradient(orange,tomato);
    border-radius: 10px;
    font-weight: 700
}

h1{
    font-size: 40px;
    font-family: 'Patua One', cursive;
}
h2{
    font-size: 30px;
    font-family: 'Patua One', cursive;
}
h3{
    font-size: 20px;
    font-family: 'Patua One', cursive;
}
.pizza-highlight-text, .footer-title-first-color{
    color: orange;
}
.relax-highlight-text{
    color: #FE4B2E;
}
.top-banner-left p, .about-me-container p{
    margin-bottom: 40px;
    width: 75%;
    text-align: justify;
}

.pizza-category, .about-me, .social-media-box{
    display: flex;
}

/*---------------Universal CSS END------------------*/


/*---------------About Me CSS Start------------------*/
.about-me-left{
    position: relative;
}
.about-me{
    margin-bottom: 100px;
}
.about-me-image{
    width: 50%;
    height: 95%;
    margin-left: 25%;
    margin-right: 25%;
    position: absolute;
    bottom: 0;
}

.about-me-container{
    height: 50%;
    margin-top: 25%;
    margin-bottom: 25%;
    width: 100%;
}

.about-me{
    background-image: url('images/shapes/about-pizza-bg.png');
    background-repeat: no-repeat;
}

/*---------------About Me CSS END------------------*/

/*---------------Type of Pizza CSS Start------------------*/
.types-of-pizza{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 80px;
}

.types-of-pizza-left{
    text-align: center;
    margin-bottom: 50px;
}
.types-of-pizza-description{
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}
.pizza-item{
    width: 30%;
    margin-left: 1.5%;
    margin-right: 1.5%;
    box-shadow: 5px 5px 40px grey;
    padding: 1%;
    border-radius: 10px;
}
.pizza-item p{
    text-align: justify;
}
.pizza-item-image{
    width: 100%;
}

/*---------------Type of Pizza CSS END------------------*/

/*---------------Social Media CSS Start------------------*/
.social-media{
    margin-bottom: 80px;
}
.social-media-box{
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    box-shadow: 5px 5px 20px grey;
    border-radius: 10px;
}
.social-media-container{
    width: 33%;
    text-align: center;
}
/*---------------Social Media CSS END------------------*/
/*---------------Footer CSS Start------------------*/
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 20px;
}
.footer-title-second-color{
    color: #FE4B2E;
}
.footer-title{
    font-family: 'Lato', sans-serif;
}
/*---------------Footer CSS END------------------*/

/*---------------Contact CSS Start------------------*/
.contact-container{
    display: flex;
    background-image: url('images/shapes/contact-bg.jpg');
    background-repeat: no-repeat;
    padding: 2%;
}
.contact{
    width: 30%;
    margin-left: 1.5%;
    margin-right: 1.5%;
}
ul{
    list-style-type: circle;
}
.sent-btn{
    background-image: linear-gradient(tomato,orange);
    border-radius: 10px;
    padding: 3px 20px;
    color: white;
}
/*---------------Contact CSS END------------------*/