body{
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
}


/*---------------Header CSS Start------------------*/
.header{
   display: flex;
   align-items: center;
   box-shadow: 1px 1px 5px grey;
}

.logo{
    width: 50%;
    margin-left: 10%;
}
.menu{
    width: 50%;
}
ul{
    list-style-type: none;
    display: flex;
}
li a{
    text-decoration: none;
    color: #FE4B2E;
    font-family: 'Patua One', cursive;
    padding: 10px 20px;
    margin: 0px 5px;
    border-radius: 10px;
}
li a:hover{
    background-color: #FE4B2E;
    color: white;
}
.logo h1:hover{
    color: #FE4B2E;
}

/*---------------Header CSS END------------------*/


.top-banner{
    display: flex;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 50px;
}
.top, .about{
    width: 50%;
}
.top-banner-left h1{
    margin: 0;
    padding: 0;
}
.top-banner-left-container{
    margin-top: 20%;
}
.pizza-image{
    width: 80%;
}
.order-pizza-btn, .contact-me-btn{
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    background-image: linear-gradient(100deg,orange,tomato);
    border-radius: 10px;
    font-weight: 700
}
h1{
    font-size: 40px;
    font-family: 'Patua One', cursive;
}
h2{
    font-size: 30px;
    font-family: 'Patua One', cursive;
}
h3{
    font-size: 20px;
    font-family: 'Patua One', cursive;
}
.top-highlight-text, .footer-title-first-color{
    color: orange;
}
.top-banner-left p, .about-pizza-right p{
    margin-bottom: 40px;
    width: 75%;
    text-align: justify;
}
.about-pizza-left-image{
    width: 50%;
    height: 80%;
    margin-left: 25%;
    margin-right: 25%;
    position: absolute;
    bottom: 0;
}
.pizza-item{
    width: 30%;
    margin-left: 1.5%;
    margin-right: 1.5%;
    box-shadow: 5px 5px 40px grey;
    padding: 1%;
    border-radius: 10px;
}
.pizza-item-image{
    width: 100%;
}
.pizza-category, .about-pizza, .delivery-details-box{
    display: flex;
}
.my-pizza-categories{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 100px;
}
.delivery-box{
    width: 33%;
    text-align: center;
}
.delivery-details-box{
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    box-shadow: 5px 5px 20px grey;
    border-radius: 10px;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 20px;
}
.delivery-details{
    margin-bottom: 100px;
}
.delivery-pizza-category-title-description{
    text-align: center;
    margin-bottom: 50px;
}
.delivery-pizza-category-description{
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}
.footer-title-second-color{
    color: grey;
}
.about-pizza{
    background-image: url('images/shapes/about-pizza-bg.png');
    background-repeat: no-repeat;
}
.footer-title{
    font-family: 'Lato', sans-serif;
}

.about-container{
    height: 50%;
    margin-top: 25%;
    margin-bottom: 25%;
}
.about-pizza-left{
    position: relative;
}
